<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-light sidebar" id="sidebar">
      <%= render 'sidebar'%>
    </nav>
    <div class="col-sm-9 col-md-10 bg-light h-50" id="content"></div>
  </div>
</div>
