<html lang="en">
  <head>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1>Hello Khoa</h1>
          <p>How are you?</p>
        </div>
        <div class="col-sm-4">
          <div class="sidebar">
            <h3>My sidebar</h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
