<div class="container">
  <%= render partial: 'partials/sub_header'%>
  <div class="list_products">
    <%= render partial: 'partials/list_products', collection: @products, as: :product%>
  </div>
</div>
